{
  "projects": {
    "default": "appelent-bc868"
  },
  "targets": {
    "appelent": {
      "hosting": {
        "stg": [
          "appelent-stg"
        ],
        "prd": [
          "appelent"
        ]
      }
    }
  },
  "etags": {},
  "dataconnectEmulatorConfig": {}
}
